<h1>Albums</h1>


<ul>
{{#each albums}}
    <li> 
        <img src="{{this.images.0.url}}" alt="{{this.name}}">

        <div class="input-bg">
            <h3>{{this.name}}</h3>
            <a href="/tracks/{{this.id}}">View Tracks</a>
        </div>
    </li>
    {{/each}}

</ul>
