<h1>Home</h1>

<body class="home-background">
    

    <form action="/artist-search" method="GET">
        <input type="text" name="artist" placeholder="The Beatles...">
        <button type="submit">Search</button>
    </form>

    </body>
    
