<h1>Tracks</h1>

<div class="track-nav">
    <div>Title</div>
    <div>Listen</div>
</div>

<ul class="track-ul">
{{#each tracks}}
    <li class="input-tracks-li"> 
        {{!-- <img src="{{this.images.0.url}}" alt="{{this.name}}"> --}}

        <div class="input-tracks">
            <h3>{{this.name}}</h3>
            {{!-- <a href="/tracks/{{this.id}}">View Tracks</a> --}}
        </div>
    </li>
    {{/each}}

</ul>