ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    list-style-type: none;
}

img {
    height: 400px;
    width: 400px;
}

body {
    text-align: center;
    background-image: url(../images/spotify-background.jpeg);
    background-size: cover;
}

.input-bg {
    background-color: grey;
    position: relative;
    top: -5rem;
}

